.DS_Store
*.o
*.swp
*.pyc
xcuserdata/
xcsharedata/
*.xccheckout
tmp/
download/
downloads/
build/bin/
build/lib/
build/etc/
complements/php-cgi/src/
complements/nodejs/src/
mea-edomus
xPLLib/
mea-edomus.tar.pkg*
xplhub
