<script type="text/javascript" src="controllers/capteurs-actionneurs-ctrl.js"></script>

<script>

jQuery(document).ready(function(){
   capteursactionneurs_controller("table_capteurs-actionneurs");
});
</script>
<div style="width:100%;">
   <div style="width:700px;margin: 0 auto;">
      <table id="table_capteurs-actionneurs"
             title="Capteurs/Actionneurs"
             class="easyui-datagrid"

             style="width:700px;"

             pagination="true"
             idField="id"
             fitColumns="true"
             singleSelect="true"
             toolbar="#toolbar_ca"
             url="models/get_capteurs_actionneurs?php">
         <thead>
            <tr>
               <th data-options="field:'id',width:10,hidden:true">id</th>
               <th data-options="field:'id_sensor_actuator',width:10,hidden:true,sortable:true">id_sensor_actuator</th>
               <th data-options="field:'name',width:100,align:'left'">name</th>
               <th data-options="field:'type', width:100,align:'left'">type</th>
               <th data-options="field:'description',width:80,align:'right'">description</th>
            </tr>
         </thead>
      </table>
   </div>
</div>

<div id="toolbar_ca">
   <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">Add User</a>
   <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">Edit User</a>
   <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">Remove User</a>
</div>
