<style>
.table_indicateurs {
 border-collapse:collapse;
// border-width:10px;
// border-style:solid;
// border-color:#CDCDCD;
 }

.cell_table_indicateurs {
 border-width:1px;
 padding:0px;
 border-style:solid;
 border-bottom:none;
 border-color:#CDCDCD;
}

.pastille {
 height:24px;
 width:24px;
 margin-right:10px;
 margin-left:10px;
 border-radius: 24px;
}

.cell_table_indicateurs:first-child {
 border-left:none;
}

.cell_table_indicateurs:last-child {
 border-right:none;
}

.indicators_list
 {
 margin-bottom: -1px;
 border-collapse:collapse;
 }

.processes_column {
 min-width:250px;
 }
 
.status_column {
 min-width:50px;
}

.columns_indicators {
}

.process_name {
 margin-left:10px;
}
 
.process_description {
 font-size:10px;
 margin-left:10px;
}
 
.indicator_name {
 margin: 0px;
 padding: 7px;
 min-width: 200px;
 width: 200px;
}
 
.indicator_value {
 margin: 0px;
 padding: 7px;
 text-align: right;
 min-width: 100px;
 width: 100%;
}
 
.couleur_1 {
 background:#d6f9b3;
}
 
.couleur_2 {
 background: #cbefa8;
}
 
.wait_ball {
 background-color: rgba(0,0,0,0);
 border: 5px solid rgba(75, 165, 202,0.9);
 opacity: .9;
 border-top: 5px solid rgba(0,0,0,0);
 border-left: 5px solid rgba(0,0,0,0);
 border-radius: 30px;
 box-shadow: 0 0 3px #2187e7;
 width: 30px;
 height: 30px;
 margin: 0 auto;
 -moz-animation: spin .75s infinite linear;
 -webkit-animation: spin .75s infinite linear;
}
 
@-moz-keyframes spin {
 0% {
  -moz-transform: rotate(0deg);
 }
 100% {
  -moz-transform: rotate(360deg);
 };
}
 
@-moz-keyframes spinoff {
 0% {
  -moz-transform: rotate(0deg);
 }
 100% {
  -moz-transform: rotate(-360deg);
 };
}
 
@-webkit-keyframes spin {
 0% {
  -webkit-transform: rotate(0deg);
 }
 100% {
  -webkit-transform: rotate(360deg);
 };
}
 
@-webkit-keyframes spinoff {
 0% {
  -webkit-transform: rotate(0deg);
 }
 100% {
  -webkit-transform: rotate(-360deg);
 };
}

@-moz-keyframes spin {
 0% {
  -moz-transform: rotate(0deg);
 }
 100% {
  -moz-transform: rotate(360deg);
 };
}

@-moz-keyframes spinoff {
 0% {
  -moz-transform: rotate(0deg);
 }
 100% {
  -moz-transform: rotate(-360deg);
 };
}

@-webkit-keyframes spin {
 0% {
  -webkit-transform: rotate(0deg);
 }
 100% {
  -webkit-transform: rotate(360deg);
 };
}

@-webkit-keyframes spinoff {
 0% {
  -webkit-transform: rotate(0deg);
 }
 100% {
  -webkit-transform: rotate(-360deg);
 };
}
</style>

<table id="table_indicateurs" class="table_indicateurs" style="width:100%;">
</table>
<div id="noindicators" class="display">
No indicators provided !!!
</div>

 <div>
   <table id="table_reload" style="width:100%;">
   </table>
</div>

 <div>
   <table id="table_interfaces" style="width:100%;">
   </table>
</div>
 <div>
   <table id="table_processes" style="width:100%;">
   </table>
</div>

